@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.banner {
  background-image: image-url("restaurantbanner.jpg");
  background-repeat: no-repeat;
  background-color: #6dd1b6;
  height: 200px;
  display: flex;
  background-position: center;
  justify-content:center;
  align-items: center;
}

#banner-title {
  font-family: Lobster;
  color: #ffffff;
  text-shadow: 2px 2px #404040;
  font-size: 128px
 }

.restaurant-title {
  font-family: Lobster;
  font-size: 24px
 }

 a {
  text-decoration: none;
 }

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.btn {
  font-family: Lobster;
}

.new-container {
  width: 400px
}
